/* Colors */
$orange-main:    #ff5b2e;
$orange-dark:    #f0491b;
$green-main:     #e7ff62;
$green-darker-1: #cee64f;
$green-darker-2: #c9de2e;
$green-darker-3: #edff54;
$gray-main:      #202020;
$gray-lighter-1: #353535;
$gray-lighter-2: #5d5d5d;
$gray-lighter-3: #686868;
$gray-lighter-4: #949494;
$gray-lighter-4: #9e9e9e;