$break-xs: 321px !default;
$break-sm: 376px !default;
$break-md: 769px !default;
$break-lg: 1367px !default;

@mixin break($break) {
  @if $break == 'xs' { @media (min-width: 0        ) and (max-width: $break-xs - 1) { @content; } }
  @if $break == 'sm' { @media (min-width: $break-xs) and (max-width: $break-sm - 1) { @content; } }
  @if $break == 'md' { @media (min-width: $break-sm) and (max-width: $break-md - 1) { @content; } }
  @if $break == 'lg' { @media (min-width: $break-md) and (max-width: $break-lg - 1) { @content; } }

  @if $break == 'le-sm' { @media (max-width: $break-sm - 1) { @content; } }
  @if $break == 'le-md' { @media (max-width: $break-md - 1) { @content; } }
  @if $break == 'le-lg' { @media (max-width: $break-lg - 1) { @content; } }

  @if $break == 'gt-xs' { @media (min-width: $break-xs) { @content; } }
  @if $break == 'gt-sm' { @media (min-width: $break-sm) { @content; } }
  @if $break == 'gt-md' { @media (min-width: $break-md) { @content; } }
  @if $break == 'gt-lg' { @media (min-width: $break-lg) { @content; } }
}

$media-queries: (xs: 'xs', gt-xs: 'gt-xs', sm: 'sm', le-sm: 'le-sm', gt-sm: 'gt-sm', md: 'md', gt-md: 'gt-md', lg: 'lg', xl: 'xl');

@each $media, $query in $media-queries {
  [hide-#{$media}] {
    @include break($query) {
      display: none !important;
    }
  }
}