@import 'media';
@import 'colors';
@import 'fonts';
@import 'buttons';

body {
  @include font();
}

nav {
  background-color: $orange-main;
  height: 20vh;
}

#hero {
  height: 80vh;
  background-color: $orange-main;
  display: flex;
  align-items: center;
  justify-content: center;

  .content {
    text-align: center;
  }

  .actions {
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
      margin-bottom: 10px;
    }
  }

  h1 {
    @include font($family: secondary, $size: $m-heading-1, $color: white);
    line-height: 44px;

    @include break('gt-md') {
      font-size: $d-heading-1;
    }
  }

  h3 {
    @include font($size: $m-heading-3, $weight: semibold, $color: white);
  }


}

/* Buttons */