@import 'media';
@import 'colors';
@import 'fonts';
@import 'buttons';

body {
  @include font();

  @include break('gt-md') {
    font-size: $d-default;
  }
}

h1 {
  @include font($family: secondary, $size: $m-heading-1, $color: white);
  line-height: 44px;
  text-align: center;

  @include break('gt-md') {
    font-size: $d-heading-1;
  }
}

h2 {
  @include font($family: secondary, $size: $m-heading-2, $color: $gray-main);
  line-height: 30px;
  text-align: center;

  @include break('gt-md') {
    font-size: $d-heading-2;
  }
}

h3 {
  @include font($size: $m-heading-3, $weight: semibold, $color: white);
}

.container {
  @include break('gt-md') {
    margin: 0 217px;
  }
}

section {
  height: 100%;
  min-height: 100vh;
  padding-top: 131px;

  &.half {
    min-height: 50vh;
    padding-top: 100px;
  }

  &.stretch {
    min-height: 0;
  }

  .content {
    display: flex;
    justify-content: center;
  }

  &:last-of-type {
    padding-bottom: 100px;
  }
}

/* navbar */
nav {
  background-color: $orange-main;
  height: 20vh;
}

/* hero */
#hero {
  height: 80vh;
  background-color: $orange-main;
  display: flex;
  align-items: center;
  justify-content: center;

  .content {
    text-align: center;
  }

  .actions {
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
      margin-bottom: 10px;
    }
  }
}

/* what-you-need */
#what-you-need {
  p { text-align: center; }

  @include break('le-sm') {
    h1 { max-width: 247px; }

    p {
      max-width: 274px;
      margin: 0 auto;
    }
  }

  #features-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .feature-item {
      .feature-visual {
        width: 130px;
        height: 130px;
        background-color: $green-darker-4;
        border-radius: 100%;
        margin: 0 auto;
      }

      p { max-width: 130px; }
    }
  }
}

/* about-us */
#about-us {
  background-color: $gray-main;
  color: white;

  h2 { color: white; }

  #founders {
    display: flex;
    flex-direction: column;

    .founder-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
  
      .founder-avatar {
        width: 160px;
        height: 160px;
        background-color: $gray-lighter-1;
        border-radius: 100%;
        align-self: center;
        margin-bottom: 10px;
      }

      span {
        @include font($weight: bold, $color: white);
        text-align: center;
      }
      
      p {
        color: $gray-lighter-4;
        text-align: center;
      }

      &:not(:last-child) {
        margin-bottom: 32px;
      }

      @include break('gt-sm') {
        flex-direction: column;
        
        &:not(:last-child) {
          margin-bottom: 0;
          margin-right: 56px;
        }
      }
    }

    @include break('gt-sm') {
      flex-direction: row;
    }
  }
}

/* partnerships-awards, book-your-space */
#partnership-awards, #book-your-space {
  background-color: $gray-main;

  h2 {
    margin-bottom: 40px;
    color: white;
  }

  @include break('le-sm') {
    h2 {
      max-width: 237px;
      margin-right: auto;
      margin-left: auto;
    }
  }
}

/* footer */
footer {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-height: 682px;
  background-color: $gray-lighter-1;
  padding-top: 50px;
  padding-bottom: 32px;

  div {
    display: flex;
    flex-direction: column;
  }

  span {    
    @include font($weight: semibold, $color: $green-darker-1, $size: 14px);
    text-align: center;
  }

  hr {
    width: 240px;
    height: 2px;
    background-color: $gray-main;
    border: none;
  }

  .title {
    @include font($weight: bold, $color: white);
    margin-bottom: 16px;
    text-align: center;
  }

  #brand {
    flex-direction: row;

    span {
      text-align: left;
      @include font($weight: bold, $color: white, $size: 17px);
    }

    p { @include font($color: white, $size: 14px); }
  }

  #contact-us {
    .email { @include font($weight: medium, $color: white, $size: 14px); }
    .phone { margin: 13px 0 0 0; }
  }

  .copyright { @include font($weight: medium, $color: $gray-lighter-4, $size: $m-smallest); }

  @include break('gt-sm') {
    flex-direction: row;
    height: 307px;
    min-height: 0;

    hr {
      width: 2px;
      height: 150px;
      margin: 0;
    }
  }
}